.vs/
.vscode/
philosophers/LazyPhilosophersTester/
push_swap/42Barcelona-PushSwap-ProChecker/
push_swap/Push-Swap-Tester/
push_swap/checker_linux_42
push_swap/push_swap_test_linux.sh
push_swap/traces.txt
random/
so_long/ft_printf/
so_long/map.ber
so_long/minilibx-linux/
tests/
